body{
	font-family: 'Open Sans', sans-serif;
	background: url(../img/ui/bg.gif) center 50px no-repeat;
	margin:30px;
	color:#666666;
}
p, li{
	line-height: 1.6em;
	font-size: 1.3em;
}
a, a:hover{
	color:#F60;
}
header{
	height:500px;
}
section, header{
	max-width:960px;
	margin:0 auto;
}
h1, h2, h3{
	
}